@import url("http://fonts.cdnfonts.com/css/sf-pixelate");

body {
    background-color: ghostwhite;
    font-family: "SF Pixelate", sans-serif;
    color: rgb(0, 255, 0);
    font-size: 15px;
    letter-spacing: 1px;
    white-space: nowrap;
    margin: 0;
}

.winamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    width: 410px;
    height: 173px;
    image-rendering: pixelated;
    background-image: url("../header.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.winamp-bar {
    width: 410px;
    image-rendering: pixelated;
}
.top-upper-pannel {
    display: flex;
}
.animation {
    width: 139px;
    height: 64px;
    background-color: black;
    position: relative;
    margin-left: 17px;
    margin-top: 10px;
}

.ticker {
    width: 238px;
    height: 20px;
    background-color: black;
    margin-left: 5px;
    margin-top: 11px;
}

.kbps {
    position: relative;
    top: -42px;
    left: 167px;
    font-size: 10px;
}

.khz {
    position: relative;
    font-size: 10px;
    top: -61px;
    left: 232px;
}

.volume-bar {
    position: relative;
    width: 90px;
    top: -67px;
    left: 160px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 20px;
    shape-rendering: pixelated;
    background-image: url("bar.png");
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-size: cover;
    height: 16px;
    width: 20px;
    background-image: url("../bar-button.png");
}

.pan-bar {
    position: relative;
    top: -67px;
    left: 170px;
    height: 10px;
    width: 60px;
    border-radius: 20px;
    -webkit-appearance: none;
    background-image: url("bar.png");
    background-size: cover;
}

.pan-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-size: cover;
    height: 16px;
    width: 20px;
    background-image: url("../bar-button.png");
}

.progress-bar {
    position: relative;
    top: -40px;
    left: -138px;
    width: 375px;
    -webkit-appearance: none;
    background: transparent;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-size: cover;
    height: 16px;
    width: 40px;
    background-image: url("../range-button.png");
}
.progress-bar:active::-webkit-slider-thumb {
    background-image: url("../range-button-clicked.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.player-control-panel {
    position: relative;
    display: flex;
    margin-left: 26px;
    top: -35px;
    align-items: center;
    z-index: 2;
}

.previous {
    background-image: url("../previous.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.previous:active {
    background-image: url("../previous-press.png");
    background-size: cover;
}

.play {
    background-image: url("../play.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.play:active {
    background-image: url("../play-press.png");
    background-size: cover;
}
.pause {
    background-image: url("../pause.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.pause:active {
    background-image: url("../pause-press.png");
    background-size: cover;
}

.stop {
    background-image: url("../stop.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.stop:active {
    background-image: url("../stop-press.png");
    background-size: cover;
}
.next {
    background-image: url("../next.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}
.next:active {
    background-image: url("../next-press.png");
    background-size: cover;
}

.shuffle {
    background-image: url("../shuffle.png");
    background-size: contain;
    width: 65px;
    height: 25px;
    background-repeat: no-repeat;
    margin-left: 100px;
}

.shuffle:no-button {
    background-image: url("../shuffle-selected.png");
    background-size: cover;
    background-size: contain;
    width: 65px;
    height: 25px;
    background-repeat: no-repeat;
}

.eq {
    width: 410px;
    height: 173px;
    background-image: url("../eq.png");
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.screen-container {
    width: 410px;
    height: 360px;
    background-image: url("../screen.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.screen {
    position: relative;
    width: 385px;
    height: 333px;
    margin-left: 15px;
    margin-top: 28px;
    background-color: black;
    overflow-y: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.buttom-panel {
    width: 410px;
    display: flex;
    justify-content: stretch;
}

.buttom-left {
    width: 186px;
    height: 57px;
    background-image: url("../buttom-left.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.buttom-right {
    width: 226px;
    height: 57px;
    background-image: url("../buttom-right.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.registration {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    position: relative;
    width: 385px;
    height: 333px;
    margin-left: 15px;
    margin-top: 28px;
    background-color: black;
    overflow-y: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.content::-webkit-scrollbar {
    /* -webkit-appearance: none; */
    image-rendering: pixelated;
    background-image: url("../scroll-bar.png");
    height: 100%;
}

.content::-webkit-scrollbar-thumb {
    background-image: url("../scroll-bar-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 45px;
    width: 20px;
}
