@import url("https://fonts.cdnfonts.com/css/px-sans-nouveaux");

body {
    background-color: RGB(1, 130, 129);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 0);
    font-size: 15px;
    letter-spacing: 1px;
    white-space: nowrap;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    width: 410px;
    height: 173px;
    image-rendering: pixelated;
    background-image: url("../header.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.winamp-bar {
    width: 410px;
    image-rendering: pixelated;
}
.top-upper-pannel {
    display: flex;
}
.animation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 139px;
    height: 64px;
    background-color: black;
    position: relative;
    margin-left: 17px;
    margin-top: 10px;

    overflow: hidden;
}

.animation p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: "px sans nouveaux", sans-serif;
}

.animation img {
    width: 139px;
    height: 38px;
    object-fit: fill;
}

.ticker-area {
    width: 233px;
    height: 17px;
    background-color: black;
    margin-left: 7px;
    margin-top: 11px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ticker-area p {
    margin: 0px;
    animation: ticker 10s infinite linear;
    position: absolute;
    left: 50%;
    font-size: 10px;
    font-family: "px sans nouveaux", sans-serif;
}

@keyframes ticker {
    100% {
        transform: translateX(-150%);
    }
}

.kbps {
    position: relative;
    top: -38px;
    left: 167px;
    font-size: 10px;
    width: 27px;
    height: 18px;
    margin: 0;
    font-size: 8px;
    font-family: "px sans nouveaux", sans-serif;
}

.khz {
    width: 27px;
    height: 18px;
    position: relative;
    font-size: 10px;
    top: -56px;
    left: 233px;
    margin: 0;
    font-size: 8px;
    font-family: "px sans nouveaux", sans-serif;
}

.volume-bar {
    position: relative;
    width: 230px;
    top: -54px;
    left: 160px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 20px;
    shape-rendering: pixelated;
    background-image: url("bar.png");
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-size: cover;
    height: 16px;
    width: 20px;
    background-image: url("../bar-button.png");
}

.pan-bar {
    position: relative;
    top: -67px;
    left: 170px;
    height: 10px;
    width: 60px;
    border-radius: 20px;
    -webkit-appearance: none;
    background-image: url("bar.png");
    background-size: cover;
}

.pan-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-size: cover;
    height: 16px;
    width: 20px;
    background-image: url("../bar-button.png");
}

.progress-bar {
    position: relative;
    top: -29px;
    left: -211px;
    width: 375px;
    -webkit-appearance: none;
    background: transparent;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-size: cover;
    height: 16px;
    width: 40px;
    background-image: url("../range-button.png");
}
.progress-bar:active::-webkit-slider-thumb {
    background-image: url("../range-button-clicked.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.player-control-panel {
    position: relative;
    display: flex;
    margin-left: 26px;
    top: -30px;
    align-items: center;
    z-index: 2;
}

.previous {
    background-image: url("../previous.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.previous:active {
    background-image: url("../previous-press.png");
    background-size: cover;
}

.play {
    background-image: url("../play.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.play:active {
    background-image: url("../play-press.png");
    background-size: cover;
}
.pause {
    background-image: url("../pause.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.pause:active {
    background-image: url("../pause-press.png");
    background-size: cover;
}

.stop {
    background-image: url("../stop.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}

.stop:active {
    background-image: url("../stop-press.png");
    background-size: cover;
}
.next {
    background-image: url("../next.png");
    background-size: cover;
    width: 33px;
    height: 28px;
}
.next:active {
    background-image: url("../next-press.png");
    background-size: cover;
}

.shuffle {
    background-image: url("../shuffle.png");
    background-size: contain;
    width: 65px;
    height: 25px;
    background-repeat: no-repeat;
    margin-left: 60px;
}

.sc {
    margin-left: 10px;
    image-rendering: pixelated;
    cursor: pointer;
    opacity: 0.8;
}

.shuffle:active {
    background-image: url("../shuffle-selected.png");
    background-size: cover;
    background-size: contain;
    width: 65px;
    height: 25px;
    background-repeat: no-repeat;
}

.middle-container {
    width: 410px;
    height: 173px;
    background-image: url("../eq.png");
    background-size: contain;
    background-repeat: round;
    image-rendering: pixelated;
}

.big-screen {
    background-color: black;
    width: 390px;
    height: 140px;
    margin-left: 11px;
    margin-top: 23px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.winamp-logo {
    width: 130px;
    height: 155px;
    image-rendering: pixelated;
    object-fit: cover;
    margin-bottom: 50px;
}

.screen-container {
    width: 410px;
    height: 360px;
    background-image: url("../screen.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.info {
    width: 390px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.info p {
    font-family: "px sans nouveaux", sans-serif;
    width: 186px;
    white-space: normal;
    margin: 5px;
    padding-left: 10px;
    font-size: 10px;
}

.search::-webkit-scrollbar,
.playlist::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 10px;
}

.search::-webkit-scrollbar-thumb,
.playlist::-webkit-scrollbar-thumb {
    background-color: rgba(226, 226, 226, 0.5);
    opacity: 0.3;
    border-radius: 5px;
}

.content {
    position: relative;
    width: 385px;
    height: 333px;
    margin-left: 15px;
    margin-top: 28px;
    background-color: black;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.buttom-panel {
    width: 410px;
    display: flex;
    justify-content: stretch;
}

.buttom-left {
    width: 186px;
    height: 57px;
    background-image: url("../buttom-left.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    display: flex;
    align-items: center;
}

.add {
    width: 30px;
    height: 28px;
    margin-left: 23px;
    margin-bottom: 5px;
}

.add:active,
.delete:active,
.playlist-button:active,
.select:active,
.share:active {
    background-color: black;
    opacity: 0.3;
}

.delete {
    width: 30px;
    height: 28px;
    margin-left: 13px;
    margin-bottom: 5px;
}

.select {
    width: 30px;
    height: 28px;
    margin-left: 13px;
    margin-bottom: 5px;
}

.share {
    width: 30px;
    height: 28px;
    margin-left: 13px;
    margin-bottom: 5px;
}

.share-container p {
    font-family: "px sans nouveaux", sans-serif;
    text-align: center;
}

.share-buttons {
    width: 380px;
    display: flex;
    justify-content: space-around;
}

.buttom-right {
    width: 226px;
    height: 57px;
    background-image: url("../buttom-right.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timer {
    width: 139px;
}

.buttom-timer {
    font-family: "px sans nouveaux", sans-serif;
    font-size: 7px;
    margin-top: 19px;
    margin-right: 32px;
    letter-spacing: 2px;
}

.buttom-timer p {
    background-color: black;
    height: 10px;
}

.playlist-button {
    width: 30px;
    height: 28px;
    margin-bottom: 5px;
    margin-right: 25px;
}

.search,
.playlist {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 385px;
    height: 333px;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    padding: auto;
    font-family: "PixelYourLife", sans-serif;

    letter-spacing: 1px;
}

.search div,
.playlist div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    width: 374px;
    height: 20px;
    font-size: 16px;
}

.search div p,
.playlist div p {
    margin: 0;
}

.search-input {
    margin-left: 8px;
    border: 1px rgb(0, 255, 0) solid;
    background-color: black;
    color: rgb(0, 255, 0);
    font-size: 16px;
    border-radius: 5px;
    height: 13px;
}

.tracks {
    padding-left: 33px;
    margin-top: 5px;
}

.duration {
    width: 25px;
    display: flex;
    flex-direction: column;
}

li.track::marker {
    width: 30px;
}

.track {
    text-overflow: ellipsis;
    width: 100%;
    overflow: visible;
    overflow-wrap: normal;
}

.blue {
    background-color: blue;
}

input:focus {
    outline: none;
}

.artwork {
    image-rendering: pixelated;
    height: 141px;
    width: 168px;
    object-fit: fill;
    border: hidden;
}

.registration,
.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 385px;
    height: 333px;
    margin-left: 15px;
    margin-top: 28px;
    background-color: black;
    overflow-y: auto;
    padding: auto;
    font-family: "px sans nouveaux", sans-serif;
    letter-spacing: 2px;
}

form {
    align-items: center;
    justify-content: center;
    margin: 0;

    display: flex;
    flex-direction: column;
    letter-spacing: 0px;

    font-size: 18px;
    font-weight: 100;
    font-family: "px sans nouveaux", sans-serif;
    height: 300px;
}

.login input::placeholder,
form div input::placeholder {
    font-family: "px sans nouveaux", sans-serif;
    color: rgb(0, 255, 0);
    font-size: 14px;
}

form p {
    margin: 0;
}

form div,
p.member {
    margin-top: 8px;
    font-size: 12px;
}

form div {
    display: flex;
    align-items: center;
}

form div input,
.login input {
    margin-left: 8px;
    border: none;
    background-color: black;
    border-bottom: 1px rgb(0, 255, 0) solid;
    color: rgb(0, 255, 0);
    width: 200px;
    font-family: "px sans nouveaux", sans-serif;
    text-align: center;
    font-size: 14px;
}

form button {
    font-family: "px sans nouveaux", sans-serif;
    cursor: pointer;
    width: 70px;
    border: none;
    background-color: black;
    text-align: center;
    color: rgb(0, 255, 0);
    font-size: 16px;
    padding: 0;
    margin-top: 8px;
}

.here {
    color: rgb(0, 255, 0);
}

input:-internal-autofill-selected {
    appearance: none;
    background-color: rgb(0, 0, 0);

    color: rgb(0, 255, 0);
}

.playlist-button {
    position: relative;
    right: 10px;
}
